In [1]:
# very good question in my mind

In [2]:
# suppose: School  A was established in 1951
# the students' strengths was 515 that time
# then next year the students strength was 518
# then next year the students strength was 524
# then next year the students strength was 528
# lets stay if the strength ]keeps on improving with nearly same ratio in 2024
# how many total students  waere gradxuated by School A

In [24]:
banana = 73
schoolA = 515
average = 4

for i in range(banana):
    schoolA  =schoolA + average 
schoolA

807

In [30]:
# u =  a * r**(n-1)
# a = current value
# r = increasgin ratio
# n = number of eyar
526 / 522

1.0076628352490422

In [33]:
515*(1+(4/515))**73

905.9341518468017

In [38]:
# we are going to make 2 clusters
banana = [2,4,5,7,9,10]
k = 2
# step 1: initialization of randomized centroids
c_1 = 3
c_2 = 8
# step 2: assignment
## 2, 4, & 5 are closest to c_1
clus1 = (2,4,4)
## 7, 9, & 10 are closest to c_2
clus2 = (7,9,10)

In [39]:
#step 3: update centroids
c_1 = sum(clus1)/len(clus1)
c_2 = sum(clus2)/len(clus2)

print(c_1,c_2)

3.3333333333333335 8.666666666666666

In [43]:
# we know how to make centroid better but we actually have to chooose clusters based on distance of centrolds
import numpy as np

In [44]:
data1 = np.array([1,2,3,4,5,6,19,20,21,22,23,24])
data1

array([ 1,  2,  3,  4,  5,  6, 19, 20, 21, 22, 23, 24])

In [46]:
k =2 
# chose any centroids
c_1 = 12
c_2 = 15

In [48]:
# take the difference of these points with all of the data
d1 = data1 - c_1
np.abs(d1)

array([11, 10,  9,  8,  7,  6,  7,  8,  9, 10, 11, 12])